		body
		{
			margin: 0px;
			padding: 0px;
			overflow: hidden;
			left: 500px;
			background: url(bg.png);
		}
	#test2
{
position: absolute;
width: 50px;
height: 30px;
left: 40px;
background-color: red;
border-radius:40px; 
}
#contentintro
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: purple;
	-webkit-transition:all .5s;
}
.goback
{
	z-index:-200;
}
.comefront
{
	z-index: 200;
}
.hide
{
	opacity: 0;
}
.show
{
	opacity: 1;
}
#mainmenus
{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transition:all .5s;
}
.pushright
{
	left:20%;
}
#menu1
	{
		position: absolute;
		width:20%;
		background-color: blue;
		height: 100%;
	-webkit-transition:all .5s;
	}
	#menu2
	{
		position: absolute;
		width:18%;
		background-color: red;
		height: 100%;
	-webkit-transition:all .5s;
	}
	#cont2
	{
		position: absolute;
		width: 100%;
		height: 100%;
	-webkit-transition:all .5s;
		
	}
	#cont2.moveright
	{
		left: 2%;
	}
#menu1.hidemenu
{
	left:-20%;
}
#menu1.showmenu
{
	left: 0px;
}
#menu2.hidemenu
{
	left:-18%;
}
#menu2.showmenu
{
	left: 0px;
}
		#circont
		{
			position:relative;
			width:200px;
			height: 200px;
		}
		.fullback
		{
			background-size: 100% 100%; 
			/*-webkit-transition: .5s opacity;*/
		}
		@-webkit-keyframes rotate {
			from {
				-webkit-transform: rotate(0deg);
			}
			to { 
				-webkit-transform: rotate(360deg);
			}
		}

		.elem:hover {

		}
		#container
		{

			position:absolute;
			width:200px;
			height: 200px;
			left: 40%;
			-webkit-transition:1s all;
		}
		.movecenter
		{
			top:35%;
		}
		.movedown
		{
			top:90%;
		}
		#menublocks
		{
			position: absolute;
			width: 200px;
			height: 200px;
		}
		#test
		{
			position: absolute;
			width: 200px;
			height: 200px;
			background-image: url(images/item.png);
			-webkit-transform-origin': 500% 500%
			-webkit-animation-name: rotate; 
			-webkit-animation-duration: 1.5s; 
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-timing-function: linear;
		}
		.menus
		{
			position: absolute;
			width: 30px;
			height: 30px;
			-webkit-transition:1s all;
			z-index: 2;
		}
		#one
		{
/*	background-image: url(5.png);
	 -webkit-animation-name: rotate; 
    -webkit-animation-duration: 60s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;*/
}